/* [PRD 3.2.2] Toggle Indentation Classes */
/* Step size: 24px (User Requested) */

.toggle-indent-1 {
    padding-left: 24px !important;
}

.toggle-indent-2 {
    padding-left: 48px !important;
}

.toggle-indent-3 {
    padding-left: 72px !important;
}

.toggle-indent-4 {
    padding-left: 96px !important;
}

.toggle-indent-5 {
    padding-left: 120px !important;
}

.toggle-indent-6 {
    padding-left: 144px !important;
}

.toggle-indent-7 {
    padding-left: 168px !important;
}

.toggle-indent-8 {
    padding-left: 192px !important;
}

.toggle-indent-9 {
    padding-left: 216px !important;
}

.toggle-indent-10 {
    padding-left: 240px !important;
}

/* Ensure proper box model for indentation */
.cm-line.toggle-indent-1,
.cm-line.toggle-indent-2,
.cm-line.toggle-indent-3,
.cm-line.toggle-indent-4,
.cm-line.toggle-indent-5,
.cm-line.toggle-indent-6,
.cm-line.toggle-indent-7,
.cm-line.toggle-indent-8,
.cm-line.toggle-indent-9,
.cm-line.toggle-indent-10 {
    box-sizing: border-box;
}